  <head>
    <meta charset="utf-8">
    <title>Casa Comigo - Shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="callCss" rel="stylesheet" href="/static/store/themes/bootshop/bootstrap.min.css" media="screen"/>
    <link href="/static/store/themes/css/base.css" rel="stylesheet" media="screen"/>
	<link href="/static/store/themes/css/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="/static/store/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="/static/store/themes/js/google-code-prettify/prettify.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/store/themes/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/store/themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/store/themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/store/themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/store/themes/images/ico/apple-touch-icon-57-precomposed.png">
	<style type="text/css" id="enject"></style>
  </head>