<!DOCTYPE html>
<html>

<head>
	<title>Casa Comigo</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/public/css/style.css" rel="stylesheet" type="text/css" />
	<meta name="title" content="Casa Comigo" />
    <meta name="description" content="Casa Comigo" />
    <meta content="pt" http-equiv="Content-Language" />
    <meta content="0" http-equiv="Expires" />
    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Casa Comigo" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="geo.country" content="Brasil" />
    <meta name="dc.language" content="pt_BR" />
</head>

<body>
	<div class="container-fluid centeredDiv">
		<h1 style="color: #359788;">
			<a href="/" class="linkHome"> Casa Comigo </a>
		</h1>
		{{ template "menu.html" .}}

		<div class="row-fluid" id="mainDiv">
			<div class="span12">
	
				<form action="/casal/buscar" method="get">
			        <div class="row-fluid">
			            <h3>Achador de casal</h3>
			            <div class="row-fluid">
			                <div class="span3">noivo:</div>
			                <div class="span5"> <input type="text" name="noivo" id="noivo" /> </div>
			            </div>
			
			            <div class="row-fluid">
			                <div class="span3">noiva: </div>
			                <div class="span5"> <input type="text" name="noiva" id="noiva" /> </div>
			            </div>
			
			            <div class="row-fluid">
			                <div class="span3">data casamento: </div>
			                <div class="span5"> <input type="text" name="casamento" id="casamento" placeholder="00/00/0000"/> </div>
			            </div>
			        </div>
			        <button id="concluir" class="btn btn-large">pesquisar</button>
			    </form>
			    <br/>
			
			    <table class="table table-hover">
			        <tr>
			            <th>Noivo</th>
			            <th>Noiva</th>
			            <th colspan="1">Data Casamento</th>
			        </tr>
			        for casal in casais
			            <tr>
			                <td>casal.noivo</td>
			                <td>casal.noiva</td>
			                <td>casal.casamento</td>
			                <td><a href="/produtos/casal.assinatura.tipoListaPresente">lista de prsentes</a></td>
			            </tr>
			        endfor
			    </table>
			
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			{{.flash.success}}
			{{.flash.error}}
		</div>
	</div>

	<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/mask/jquery.inputmask.js"></script>
    <script type="text/javascript" src="/public/js/validate/jquery.validate.js"></script>
    <script type="text/javascript" src="/public/js/assinatura.js"></script>
    <script type="text/javascript">
        $("#mainDiv").css("background-color","#576D58");
        $("#casamento").mask("00/00/0000");
    </script>

  </body>
</html>
    