<!DOCTYPE html>

<head>
    <title>Casa Comigo</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Casa Comigo" />
    <meta name="description" content="Casa Comigo" />
    <meta content="pt" http-equiv="Content-Language" />
    <meta content="0" http-equiv="Expires" />
    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Casa Comigo" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="geo.country" content="Brasil" />
    <meta name="dc.language" content="pt_BR" />
	<link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Fanwood Text' rel='stylesheet' type='text/css'>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>

<html>
  <body>
	{{ template "menu.html" .}}
    <div class="container-fluid centeredDiv" style="margin-top:40px;">
  	    
        <h1 class="casaComigo"><span>Casa Comigo</span></h1>

        <div class="row" style="background-color: #0088cc; min-height: 350px; margin: 20px 0 0; font-family: 'Fanwood Text'; font-size: 150%;">
                <h3>Olá, Seja Bem Vindo !!!</h3>
                <div class="col-md-6" >
                O Casa Comigo é um espaço feito para atender aos futuros casais. Pessoas que buscam acima de tudo
                qualidade, confiança e satisfação nesta fase tão importante.

                <h3>A nossa meta? Superar suas espectativas!</h3>

                Oferecemos a vocês um espaço completo na internet, temos sites excepcionais que 
                vão impressionar a todos seus convidados, amigos e familiares. Visite nossa seção de demonstrações.
                </div>
		        
		        <div class="col-md-1">
		        </div>
                
                <div class="col-md-6">
				<h3>Conte com a gente, vamos tornar este momento único!</h3>
                Nossos sites seguem a tendência da web, desenhados por especialistas renomados na área e adaptados para vocês.
                Todos eles com conteúdo responsivo (sites que se adpatam a qualquer dispositivo como notebooks, tablets e smartphones)
                assim suas amigas e amigos vão poder acompanhá-los a todo momento.
                </div>            
        </div>

        <div class="row" style="min-height: 350px; border-radius: 10px; background-color:#C9664F; margin: 20px 0 0;">
            <div class="col-md-3">
				<img src="public/img/instagram.png" class="thumbnail" width="100" height="100" alt="instagram">
				<img src="public/img/dropbox.png" class="thumbnail" width="100" height="100" alt="dropbox">
				<img src="public/img/facebook.png " class="thumbnail" width="100" height="100" alt="facebook">
				<img src="public/img/foursquare.png " class="thumbnail" width="100" height="100" alt="foursquare">
				<img src="public/img/google.png   " class="thumbnail" width="100" height="100" alt="google">
	        </div>
            <div class="col-md-5" style="font-family: 'Fanwood Text'; font-size: 150%;">
                  Nós marcamos presença nas redes sociais, vocês serão vistos nas maiores redes sociais.
                  Quer mandar um post para seus amigos, que tal usar o twitter, tirou uma foto nova, nós estaremos ligados no
                  seu instagram.
                  
                  <h3 style="text-align: right;">ninguém fica de fora</h3>
                  
                  Use sua #hashtag e deixe a mágica conosco.
                  Receba atualizações como comentários, mensagens ou fotos diretamente no seu whats app. Ou se preferir
                  podemos simplesmente usar o bom e velho email. 
                  
                  E se você não é muito fã dessas redes, podemos desabilitar, aqui quem manda é você.
            </div>
            <div class="col-md-3" >
				<img style="margin-left: 50%" src="public/img/twitter.png " class="thumbnail" width="100" height="100" alt="twitter">
				<img style="margin-left: 50%" src="public/img/email.png  " class="thumbnail" width="100" height="100" alt="email">
				<img style="margin-left: 50%" src="public/img/flipboard.png" class="thumbnail" width="100" height="100" alt="flipboard">
				<img style="margin-left: 50%" src="public/img/whatsapp.png" class="thumbnail" width="100" height="100" alt="whatsapp">
	        </div>
        </div>


        <div class="row" style=" background-color: #576D58; min-height: 350px; margin: 20px 0 0;">
            <div class="col-md-3">
            	<img style="margin-top: 10%; margin-left: 5%" src="public/img/money.png" class="thumbnail" width="100" height="100" alt="money">
            </div>
            <div class="col-md-6" style="font-family: 'Fanwood Text'; font-size: 150%;">
                Além de oferecer os melhores planos do mercado nossos valores são os mais acessíveis. 
                Permitindo ao casal que conquistem altos níveis de lucratividade. Nenhum outro site poderá oferecer a vocês a mesma sensação 
                com a mesma segurança e tranquilidade como nós fazemos.
                <br/><br/>
                Estamos de prontidão para atender a vocês e aos seus convidados. Nos mais diversos canais de comunicação.
                <br/><br/>
                Se ainda tem dúvidas, entre em contato ficaremos felizes em lhe atender.
            </div>
            <div class="col-md-3" >
                <img style="margin-top: 100%; margin-left: 50%" src="public/img/money.png" class="thumbnail" width="100" height="100" alt="money">
            </div>
        </div>


        <div class="row" style="background-color: #587585; min-height: 350px; margin: 20px 0 0;">
            <div class="col-md-12">
                <h2>
                    Conheça nossos planos, escolha o melhor e comece agora mesmo.
                </h2>
                <p>Ainda tem dúvidas sobre nossas taxas ? 
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
  					Leia mais
				</button>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <h3>Trimestral: R$ 150,00</h3>
                        <ul>
                          <li> Site do casal completo </li>
                          <li> Lista de presentes
                          <li> Integração com redes sociais </li>
                          <li> Notificações de comentários, fotos, presentes e mensagens. </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Semestral: R$ 250,00</h3>
                        <ul>
                          <li> Site do casal completo
                          <li> Lista de presentes
                          <li> Integração com redes sociais
                          <li> Notificações de comentários, fotos, presentes e mensagens.
                          <li> Album de fotos virtual com as fotos do seu casamento
                          <li> Domínio personalizado (www.nomecasal.com.br)* </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Anual: R$ 350,00</h3>
                        <ul>
                          <li> Site do casal completo </li>
                          <li> Lista de presentes
                          <li> Integração com redes sociais </li>
                          <li> Notificações de comentários, fotos, presentes e mensagens. </li>
                          <li> Album de fotos virtual com as fotos do seu casamento </li>
                          <li> Domínio personalizado (www.nomecasal.com.br)* </li>
                          <li> Revista digital Flipboard </li>
                        </ul>
                    </div>
					<br/>
					Se nenhum destes planos lhe atender, entre em contato e sugira o que prefere adquirir.
                    <br/><br/>
                    *sujeito a disponibilidade
                </div>
              </div>
            </div>
        </div>

		<hr>
		<!-- 
        <footer>
            <div id="footer" class="row-fluid centeredDiv" style="c">
                <div class="col-md-3">
                    <ol>
                        <li>Quem somos nós</li>
                        <li>Fale Conosco</li>
                        <li>Endereço Comercial</li>
                        <li>Sobre a Empresa</li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <ol>
                        <li>facebook</li>
                        <li>instagram</li>
                        <li>twitter</li>
                    </ol>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </footer>
 		-->
 
    <script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">	    
      				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        			<h3 id="myModalLabel">Modal header</h3>
      			</div>
      			<div class="modal-body">
			        <p>taxa moderada</p>
			        Esta taxa é utilizada no plano trimestral
			        <p>taxa simples</p>
			        Esta taxa é utilizada no plano semestral
			        <p>taxa básica</p>
			        Esta taxa é utilizada no plano anual
			        <br>
			        <img src="public/img/separador_4.png">
      			</div>
		      	<div class="modal-footer">
			        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
		      	</div>
   			</div>
		</div>
	</div>

  </body>
</html>