<!DOCTYPE html>

<head>
    <title>Casa Comigo</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Casa Comigo" />
    <meta name="description" content="Casa Comigo" />
    <meta content="pt" http-equiv="Content-Language" />
    <meta content="0" http-equiv="Expires" />
    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Casa Comigo" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="geo.country" content="Brasil" />
    <meta name="dc.language" content="pt_BR" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>

<html>
  <body>
    <div class="container-fluid centeredDiv">
  	    <h1 style="color:#359788; "><span >Casa Comigo</span></h1>
        {{ template "menu.html" .}}
        <div class="row" style="background-color: #0088cc; min-height: 350px; margin: 20px 0 0;">
            
                <h3>Bem Vindo !!!</h3>
                <div class="col-md-4">
                Casa Comigo é um espaço construído para os futuros casais. Casais exigentes que fazem questão de qualidade.
                Oferemos a vocês diversos serviços, o primeiro e talvez mais importante
                é o seu espaço virtual, temos sites excepcionais que vão mostrar os melhores ângulos do casal.

				Este é um espaço para vocês que vão se casar, um espaço para casais que buscam excelência e qualidade.
				Temos de tudo para fazer deste um período único. Com a garantia de cumprir a todas as suas exigências.

                São sites que seguem a tendência da web, desenhados por especelistas renomados na área.
                Todos eles com conteúdo responsivo (sites que se adpatam a qualuqer dispositivo como notebooks, tablets e smartphones)
                assim suas amigas e amigos vão poder acompanhá-los a todo momento. (Veja alguns exemplos aqui.)
                </div>
		        <div class="span2"></div>
                <div class="col-md-4">
                O próximo passo é montar uma lista de presentes. Nós oferecemos listas de vários tipos e aceitamos sugestões ou
                listas personalizadas.
				As listas funcionam da seguinte maneira: todo item comprado é convertido em dinheiro vivo e 
				depositado na conta do casal um dia após a data do casamento. Temos diversas formas de pagamento
				(através da ferramenta do pag seguro). Ao utilzar o pag seguro do UOL seus convidados terão a opção de parcelar 
				a compra em até 12x.
                </div>
            
        </div>

        <div class="row" style="min-height: 350px; border-radius: 10px; background-color:#C9664F; margin: 20px 0 0;">
            <div class="col-md-3">
	            <ul class="thumbnails">
		            <li class="col-md-3">
		                <img src="public/store/img/instagram.png" class="thumbnail" width="100" height="100" alt="instagram">
                        <img src="public/store/img/dropbox.png" class="thumbnail" width="100" height="100" alt="dropbox">
                        <img src="public/store/img/facebook.png " class="thumbnail" width="100" height="100" alt="facebook">
                        <img src="public/store/img/foursquare.png " class="thumbnail" width="100" height="100" alt="foursquare">
                        <img src="public/store/img/google.png   " class="thumbnail" width="100" height="100" alt="google">
		            </li>
	            </ul>
	        </div>
            <div class="col-md-5">
                  O Casa Comigo marca presença nas redes sociais, vocês poderão ser vistos em todas nas maiores redes sociais.
                  Quer mandar um post para seus amigos, que tal usar o twitter, tirou uma foto nova, nós podemos publicar no
                  seu instagram, use as #hashtags do casal e deixe a mágica conosco.
                  Receba atualizações como comentários, mensagens ou fotos diretamente no seu whats app. Ou se preferir
                  podemos simplesmente usar o bom e velho email
            </div>
            <div class="col-md-3">
	            <ul class="thumbnails">
		            <li class="col-md-3">
                        <img src="public/store/img/twitter.png " class="thumbnail" width="100" height="100" alt="twitter">
                        <img src="public/store/img/email.png  " class="thumbnail" width="100" height="100" alt="email">
                        <img src="public/store/img/flipboard.png" class="thumbnail" width="100" height="100" alt="flipboard">
                        <img src="public/store/img/whatsapp.png" class="thumbnail" width="100" height="100" alt="whatsapp">
		            </li>
	            </ul>
	        </div>
        </div>


        <div class="row" style=" background-color: #576D58; min-height: 350px; margin: 20px 0 0;">
            <div class="col-md-3">
                <img src="public/store/img/money.png" class="thumbnail" width="100" height="100" alt="instagram">
            </div>
            <div class="col-md-3">
                Quermos oferecer os melhores planos do mercado e por isso criamos um espaço com taxas e planos 
                acessíveis e até mesmo instigadores. Ofertando ao casal altos níveis de lucro. Nenhum outro 
                site poderá oferecer a vocês a mesma sensação de segurança e tranquilidade como nós o faremos.
                <br/><br/>
                Estamos de prontidão para atender a vocês e aos seus convidados. Temos diversos canais para comunicarmos.
                <br/><br/>
                Entre em contato (sem compromisso) e lhe atenderemos o mais breve possível.
            </div>
            <div class="col-md-3">
            </div>
        </div>


        <div class="row" style="background-color: #587585; min-height: 350px; margin: 20px 0 0;">
            <div class="col-md-12">
                <h2>
                    Conheça nossos planos, escolha o melhor para vocês e comece agora mesmo.
                </h2>
                <p>Ainda tem dúvidas sobre nossas taxas ? <a href="#myModal" class="label label-info" data-toggle="modal">Leia mais</a></p>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <h3>Trimestral: R$ 150,00</h3>
                        <ul>
                          <li> Site do casal completo </li>
                          <li> Lista de presentes
                          <li> Integração com redes sociais </li>
                          <li> Notificações de comentários, fotos, presentes e mensagens. </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Semestral: R$ 250,00</h3>
                        <ul>
                          <li> Site do casal completo
                          <li> Lista de presentes
                          <li> Integração com redes sociais
                          <li> Notificações de comentários, fotos, presentes e mensagens.
                          <li> Album de fotos virtual com as fotos do seu casamento
                          <li> Domínio personalizado (www.nomecasal.com.br)* </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Anual: R$ 350,00</h3>
                        <ul>
                          <li> Site do casal completo </li>
                          <li> Lista de presentes
                          <li> Integração com redes sociais </li>
                          <li> Notificações de comentários, fotos, presentes e mensagens. </li>
                          <li> Album de fotos virtual com as fotos do seu casamento </li>
                          <li> Domínio personalizado (www.nomecasal.com.br)* </li>
                          <li> Revista digital Flipboard </li>
                        </ul>
                    </div>
                    *sujeito a disponibilidade
                </div>
              </div>
            </div>
        </div>

        <footer>
            <div id="footer" class="row-fluid centeredDiv">
                <div class="col-md-3">
                    <ol>
                        <li>Quem somos nós</li>
                        <li>Fale Conosco</li>
                        <li>Endereço Comercial</li>
                        <li>Sobre a Empresa</li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <ol>
                        <li>facebook</li>
                        <li>instagram</li>
                        <li>twitter</li>
                    </ol>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </footer>

    <script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>taxa moderada</p>
        Esta taxa é utilizada no plano trimestral
        <p>taxa simples</p>
        Esta taxa é utilizada no plano semestral
        <p>taxa básica</p>
        Esta taxa é utilizada no plano anual
        <img src="public/store/img/separador_4.png">
      </div>
      <div class="modal-footer">
	        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
      </div>
    </div>

  </body>
</html>