<!DOCTYPE html>
<html lang="en">
{{template "store/head.html" }}
<body>

	{{template "store/header.html"}}

<div id="mainBody">
	<div class="container">
	<div class="row">
		{{template "store/sidebar.html"}}
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/loja/produtos">Home</a> <span class="divider">/</span></li>
		<li class="active"> Carrinho de Compras </li>
    </ul>
	<h3>  Carrinho Compras <a href="/loja/produtos" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Comprando </a></h3>	
	<hr class="soft"/>
		
	<table class="table table-bordered">
    	<thead>
        	<tr>
            	<th>Produto</th>
                <th>Descrição</th>
                <th>Quantidade</th>
				<th>Preço</th>
                <th>Desconto</th>
                <th>Taxa</th>
                <th>Total</th>
			</tr>
		</thead>

        <tbody>
        	{{range .checkout.Produtos}}
				<tr>
	            	<td> <img width="60" src="/public/store/img/{{.Codigo}}/thumb.jpg" alt=""/></td>       	
	                <td> {{.Titulo}} </td>
					<td>
						<div class="input-append">
							<input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
							<button class="btn" type="button"><i class="icon-minus"></i></button>
							<button class="btn" type="button"><i class="icon-plus"></i></button>
							<button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				
						</div>
				 	</td>
					<td> R${{.Preco}} </td>
					<td>R$0.00</td>
					<td>R$0.00</td>
					<td> {{.Preco}} </td>
	            </tr>
        	{{end}}
			<tr>
            	<td colspan="6" style="text-align:right">Total Desconto:	</td>
  				<td> R$0.00 </td>
			</tr>
			<tr>
  				<td colspan="6" style="text-align:right">Total Taxa:	</td>
             	<td> R$0.00 </td>
           	</tr>
			<tr>
            	<td colspan="6" style="text-align:right"><strong>TOTAL =</strong></td>
				<td class="label label-important" style="display:block"> <strong> {{.checkout.Total}} </strong></td>
            </tr>
		</tbody>
	</table>
	
	<table class="table table-bordered">
		<tbody>
			<tr>
            	<td> 
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label"><strong> Cupom de Desconto: </strong> </label>
							<div class="controls">
								<input type="text" class="input-medium" placeholder="CODE">
								<button type="submit" class="btn"> Adicionar </button>
							</div>
						</div>
					</form>
				</td>
             </tr>
		</tbody>
	</table>
         		
	<a href="/loja/produtos" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Comprando </a>
	<a href="/loja/dados/comprador" class="btn btn-large pull-right"> Finalizar <i class="icon-arrow-right"></i></a>
	
</div>
</div></div>
</div>
	{{template "store/footer.html"}}
	
</body>
</html>