<ul class="nav nav-pills">
    <li class="active" style="font-size: large;">
        <a href="/">Home</a>
    </li>
    <li class="active" style="font-size: large; margin-left: 10px;">
        <a href="/casal/buscar/">Lista Presentes</a>
    </li>
    <li class="active" style="font-size: large;margin-left: 10px;">
        <a href="/conta/nova">Criar Site</a>
    </li>
    <li class="active" style="font-size: large;margin-left: 10px;" >
        <a href="/exemplos/sites">Sites de Exemplos</a>
    </li>
    <li class="active" style="font-size: large;margin-left: 10px;">
        <a href="/como_funciona">Como Funciona</a>
    </li>
    <li class="active" style="font-size: large; margin-left: 70px;">
        <a href="/minha_conta" style="background-color: #576D58;">Minha Conta</a>
    </li>
</ul>

