<div class="container-fluid" style="margin: 10px;">
    <div class="col-md-2">
        <a href="/" >Home</a>
    </div>
    <div class="col-md-2">
        <a href="/casal/buscar/" >Lista Presentes</a>
    </div>
    <div class="col-md-2">
        <a href="/conta/nova" >Criar Site</a>
    </div>
    <div class="col-md-2">
        <a href="/como_funciona">Como Funciona</a>
    </div>
	 <div class="col-md-2">
	     <a href="/minha_conta" style="background-color: #576D58;">Minha Conta</a>
	 </div>
</div>

 

	