	<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a> UTENSÍLIOS COZINHA [30]</a>
				<ul>
					<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Refrigeradores </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Cooktops </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Lava e Seca </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Ar Condicionado </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Fogões </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Freezers </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Micro-ondas </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Fornos </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Lavadora de Roupas </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Lava-Louças </a></li>
				</ul>
			</li>

			<li class="subMenu">
				<a> ELETROPORTÁTEIS [140] </a>
				<ul style="display:none">
					<li><a href="products.html"><i class="icon-chevron-right"></i>Ventilação</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Purificadores de água</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Aspiradores</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Panelas elétricas</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Máquinas de costura</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Cafeteiras</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Liquidificadores</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Processadores</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Batedeiras</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Ferros</a></li>
				</ul>
			</li>

			<li class="subMenu">
				<a>FOOD AND BEVERAGES [1000]</a>
				<ul style="display:none">
					<li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>												
					<li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>	
					<li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>												
					<li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>												
					<li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>												
					<li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>												
				</ul>
			</li>
		</ul>

		<br/>

		  <div class="thumbnail">
			<img src="/public/store/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
			<div class="caption">
			  <h5>Panasonic</h5>
				<h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
			</div>
		  </div><br/>
			<div class="thumbnail">
				<img src="/public/store/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
				<div class="caption">
				  <h5>Kindle</h5>
				    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
				</div>
			  </div><br/>
			<div class="thumbnail">
				<img src="/public/store/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
				<div class="caption">
				  <h5>Payment Methods</h5>
				</div>
			  </div>
	</div>
	<!-- Sidebar end=============================================== -->